USE [UserData]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 16-09-2025 12:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](50) NULL,
	[Profession] [varchar](50) NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([UserId], [Name], [Address], [Age], [Gender], [Profession]) VALUES (4, N'Suraj gupta ', N'Lucknow', 24, N'Male', N'erdyduipb')
INSERT [dbo].[Persons] ([UserId], [Name], [Address], [Age], [Gender], [Profession]) VALUES (6, N'Suraj gupta ', N'Lucknow', 25, N'Male', N'asriypi')
INSERT [dbo].[Persons] ([UserId], [Name], [Address], [Age], [Gender], [Profession]) VALUES (10, N'Mohit', N'Kanpur', 23, N'Male', N'erdydu')
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
